*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url('https://thumbs.dreamstime.com/b/nice-background-elegant-clothes-room-colors-350366318.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    font-family: cursive;
}

.container{
    background-color: rgba(255, 255, 255, 0.15);
    height: 100vh;
    padding: 2rem;
}

header{
    backdrop-filter: blur(1.5px);
    text-align: center;
    border-radius: 12px;
    margin-bottom: 2rem;
}
    h2{
        color: rgba(96, 96, 216, 0.648);
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.499);
        margin-bottom: 0.2rem;
    }
    header p{
        color: rgb(31, 126, 227);
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.708);
        font-size: 0.94rem;
        margin-bottom: 1rem;
    }
    button{
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border:none;
    }

.wrapper{
    display: flex;
    gap: 5px;
}

.card-container{
    background: white;
    padding: 5px;
}

img{
    width: 100px;
    height: auto;
}